* {
  margin: 0;
  padding: 0;
}
body {
    background: hsla(224, 13%, 15%, 1);
}
.image {
    display: block;
    width: 35%;
    margin: 20px auto;
}
#message {
    position: relative;
    text-align: center;
    margin-top: 10px;
}
h2 {
    color: #fff;
    font-family: "Franklin Gothic";
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
}
button {
    color: #FFF;
    padding: 10px 24px;
    border-radius: 8px;
    font-family: "Franklin Gothic";
    font-size: 16px;
    margin: auto;
}
iframe {
    position: relative;
    display: block;
    margin: auto;
}
.refresh {
    background-color: rgba(10, 15, 20, 1);
    background-color: rgba(10, 15, 20, 0.95);
	border-style: solid;
    border-width: 1px;
    border-color: #6d727e;
    padding: 1em;
}
.refresh:hover {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.95);
    cursor: pointer;
    transition: background-color 500ms ease-in-out;
    box-shadow: 0 5px 12px rgba(0,0,0, 0.52);transition:transform ease-in-out 0.1s;transform:scale(1.0333,1.0333);
}
